@page "/EmployeeDetail/{Id}"

<section class="employee-detail">
    <h1 class="page-title">Details for @Employee.FirstName @Employee.LastName</h1>
    <br />
    <div class="col-12 row">
        <div class="col-10 row">
            <div class="col-12 col-xxl-8">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Employee ID</label>
                    <div class="col-sm-8">
                        <label type="text" class="form-control-plaintext">@Employee.Id</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">First name</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Employee.FirstName</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Last name</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Employee.LastName</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Birthdate</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Employee.BirthDate.ToShortDateString()</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Employee.Email</label>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Phone number</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Employee.PhoneNumber</label>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Joined us</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Employee.JoinedDate?.ToShortDateString()</label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Left us</label>
                    <div class="col-sm-8">
                        <label type="text" readonly class="form-control-plaintext">@Employee.ExitDate?.ToShortDateString()</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>